/* VARIABLES */

*  {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

:root {

    --color-principal: #159A9C;
    --color-secundario: #176B87;
    --color-títulos: #123B4A;
    --color-fondo-body: #F4F1E8;
    --color-fondo-header: #0F7C7E;
    --color-fondo-footer: #082C3A;
    --color-hipervinculo: #E5B85C;

}

/* BODYS */

body {
    
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 1.6;
    max-width: 100%;
}


.body-contacto {

    background-color: var(--color-fondo-body);
    display: flex;
    flex-direction: column;

}

.link-body-contacto {

    color: var(--color-hipervinculo);
    text-decoration: none;
    padding: 0 10px;
}

.h1-contacto {

    color: var(--color-fondo-body);
    padding: 0 10px;

}

.h2-contacto {

    color: var(--color-fondo-body);
    padding: 0 10px;

}

/* HEADERS */

.header-contacto {

    background-color: var(--color-fondo-header);

}

/* MAINS */

.h3-contacto {

    color: var(--color-títulos);
    margin: 20px 0 10px 0;
    padding: 0 10px;

}

.p-contacto {

    color: var(--color-títulos);
    margin: 20px 0 10px 0;
    padding: 0 10px;

}

.formulario-box {

    display: flex;
    align-items: center;
    margin: 20px;

}

.formulario-box label {

    width: 100px;
    padding: 0 10px;
    color: var(--color-títulos);

}

.box-input-contacto {

    width: 300px;
    height: 45px;
    box-sizing: border-box;
    padding: 5px;
}

.mensaje {

    width: 600px;
    height: 236px;
    box-sizing: border-box;
    padding: 5px;
}

.submit-formulario {

    background-color: var(--color-principal);
    color: var(--color-fondo-body);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 10px;

}

.link-contacto {

    color: var(--color-fondo-footer);
    text-decoration: none;
    padding: 0 10px;

}

/* FOOTERS */

.footer-contacto {

    background-color: var(--color-fondo-footer);

}

.link-footer-contacto {

    color: var(--color-hipervinculo);
    text-decoration: none;
    padding: 0 10px;

}